*{
  box-sizing:border-box;
}
body{
min-height:100dvh;
display:flex;
align-items:centere;
justify-content:centere;
padding:2%;
background-color:whitesmoke ;

}
.grid-container{
  display:grid;
  grid-template-columns: 150px 120px 120px 150px;
  grid-template-rows: 170px 70px 70px 150px ;
  gap:1em;
  justify-content:center;
  grid-template-areas:
  "box1 box2 box2 box3"
  "box1 box4 box5 box3"
  "box6 box4 box5 box3"
  "box6 box7 box8 box8";
  margin:50px;
}
.gri{
  background-color: rgb(25, 110, 110);
  padding:2em;
  border-radius:7px;
}
.gri1{
  background-color:rgb(250, 236, 220);
  text-align: center;
  border-radius:5px;
}

.but{
  margin-top:5px;
}
.gri1 button{
  color:rgb(106, 106, 194);
  font-weight:bold;
  border:none;
  outline: none;
  background-color:rgb(240, 186, 87) ;
  border-radius: 20px;
  height:30px;
  
}
.gri1 p{
  padding-top:20px;
  padding-left: 20px;
  font-weight: bolder;
  text-align: left;
}

.gri2{
  background-color:rgb(129, 33, 219);
  text-align: center;
  border-radius: 5px;
}
.gri2 div{
    line-height:1;

}
.gri2 p{
  color:white;
  font-weight: bolder;
  font-size: 25px;
}
.gri3{
  background-color: rgb(224, 209, 243);
  text-align: center;
  border-radius: 5px;
}
.gri3 p{
  font-weight: bolder;
}
.gri3 .pi{
  font-size:10px; 
  padding-top: 10px;
  border-radius:5PX; 
  text-align: center;
  width:90px;
  height:30px;
  margin-left:8px;

}
.gri3 .week{
  color:rgb(170, 169, 169);
  display:flex;
  font-size: 10px;
  margin-left: 10px;
  gap:10px;
}
.gri3 .bars{
  display:flex;
  border-radius: 5px;
  gap:10px;
  margin-left:10px;
  height:40px;
  align-items: flex-end;
  justify-content: center;
}
.gri3 .bar{
  background-color:rgb(68, 68, 192) ;
  width:9px;
  border-radius: 5px;
  margin-bottom: 0%;

}

.gri3 .white{
  height:180px;
  width:120px;
  border-radius: 5px;
  background-color:white;
  margin-left:30px;
  justify-content: center;
}
.white .num{
  display:flex;
  color:rgb(131, 128, 128);
  gap:10px;
  margin-left:15px;
  font-size: 10px;
  font-weight: lighter;
  margin-bottom:10px ;
}

.gri4{
border-radius: 20px;
background-color: white;
}
.gri4 p{
  padding-top: 1px;
  margin-left:10px;
  font-weight:bolder;

} 
.gri4 .top{
  width:115px;
  height:45px;
  margin-top:10px;
  margin-left: 5px;
  margin-right: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
  border-radius:20px;
  background-color: white;
}
.gri4 .img{
margin-left: 1px;
padding-top: 10px;
margin-left: 10px;
}
.gri4 .top img{

width:18px;
border-radius: 360px;
background-color:rgb(240, 186, 87) ;
}
.gri5{
  background-color: rgb(240, 186, 87);
  border-radius: 5px;

}
.gri5 p{
  font-weight: bolder;
  text-align: center;
  text-align: left;
  margin-left: 15px;
}
.gri6{ 
  grid-auto-flow:dense;
  grid-row:2/4;
  grid-column:1/2;
  background-color: rgb(240, 186, 87) ;
  border-radius:5px;
}
.gri6 p{
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.gri6 .inner{
background-color: white;
height:90px;
border-radius: 5px;
padding-left: 100px;
}
.gri6 .inner2{
  background-color: antiquewhite;
  height:30px;
  padding-top: 10px;
} 
.inner .inner2 img{
  height:20px;
  padding-left:30px;
}
.gri7{
  background-color: white;
  text-align: center;
  border-radius: 5px;

}
.gri7 .image{
  display:flex;
  height:30px;
}

.gri8{
    background-color:hsl(258, 70%, 55%);
    border-radius: 5px;
    display:flex;
    gap:2px;
    box-sizing: border-box;

}
.gri8  .white{
  height:120px;
  width:130px;
  background-color: white;
  border-radius:10px;
  margin:20px;
  box-sizing: border-box;
}
.gri8 .white .text{
margin-left: 10px;
line-height:0.1;
padding-top:15px;
margin-right:10px;
}
.gri8 .num{
display:flex;
}

.gri8 .bars{
  align-items: flex-end;
gap:10px;
}
gri8 .bar{
  background-color: blue;
  width:9px;
}
.gri8 .p{
  color:white;

}
