/* body{
min-height:100dvh;
display:flex;
align-items:centere;
justify-content:centere;
padding:2%;

} */
.grid-container{
  display:grid;
  grid-template-columns: 150px 100px 100px 150px;
  grid-template-rows: 150px 70px 50px 130px ;
  gap:1em;
  justify-content:center;
  grid-template-areas:
  "box1 box2 box2 box3"
  "box1 box4 box5 box3"
  "box6 box4 box5 box3"
  "box6 box7 box8 box8";
}
.gri{
  background-color: rgb(25, 110, 110);
  padding:2em;
  border-radius:7px;
}
.gri1{
  background-color:rgb(250, 236, 220);
  text-align: center;
  border-radius:5px;
}

.but{
  padding:20px;
}
.gri1 button{
  color:rgb(106, 106, 194);
  font-weight:bold;
  border:none;
  outline: none;
  background-color:rgb(240, 186, 87) ;
  border-radius: 20px;
  height:35px;
  
}
.gri1 p{
  padding-top:20px;
  
}
.gri6{
  grid-auto-flow:dense;
  grid-row:2/4;
  grid-column:1/2;
  background-color: rgb(240, 186, 87) ;
  border-radius:5px;
}