body{
min-height:100dvh;
display:flex;
align-items:centere;
justify-content:centere;
padding:2%;
background-color:whitesmoke ;

}
.grid-container{
  display:grid;
  grid-template-columns: 150px 100px 100px 150px;
  grid-template-rows: 150px 70px 50px 130px ;
  gap:1em;
  justify-content:center;
  grid-template-areas:
  "box1 box2 box2 box3"
  "box1 box4 box5 box3"
  "box6 box4 box5 box3"
  "box6 box7 box8 box8";
}
.gri{
  background-color: rgb(25, 110, 110);
  padding:2em;
  border-radius:7px;
}
.gri1{
  background-color:rgb(250, 236, 220);
  text-align: center;
  border-radius:5px;
}

.but{
  padding:20px;
}
.gri1 button{
  color:rgb(106, 106, 194);
  font-weight:bold;
  border:none;
  outline: none;
  background-color:rgb(240, 186, 87) ;
  border-radius: 20px;
  height:35px;
  
}
.gri1 p{
  padding-top:20px;
  font-weight: bolder;
  
}
.gri6{ 
  grid-auto-flow:dense;
  grid-row:2/4;
  grid-column:1/2;
  background-color: rgb(240, 186, 87) ;
  border-radius:5px;
}
.gri6 p{
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.gri6 .inner{
background-color: white;
height:90px;
border-radius: 5px;
padding-left: 100px;
}
.gri6 .inner2{
  background-color: antiquewhite;
  height:30px;
  padding-top: 10px;
} 
.inner .inner2 img{
  height:20px;
  padding-left:30px;
}
.gri2{
  background-color:rgb(122, 122, 223);
  text-align: center;

}
.gri2 p{
  color:white;
  font-weight: bolder;
  
}
.gri3{
  background-color: rgb(206, 206, 241);
  text-align: center;
}
.gri3 p{
  font-weight: bolder;
}
.gri3 .white{
  border-radius: 5px;
  height:50px;
  background-color:white;
}
.gri4{
border-radius: 5px;
background-color: white;

}
.gri5{
  background-color: rgb(240, 186, 87);
}
.gri5 p{
  font-weight: bolder;
  text-align: center;
}
.gri7{
  background-color: white;
  text-align: center;
}
.gri7 .image{
  display:flex;
  height:30px;
}
.gri7 p{

}
.gri8{
    background-color:rgb(122, 122, 223) ;
    display: flex;

}