*{
  box-sizing:border-box;
  padding:0;
}
body{
min-height:100dvh;
display:flex;
align-items:centere;
justify-content:centere;
background-color:whitesmoke ;

}
.grid-container{
  display:grid;
  grid-template-columns: 150px 120px 120px 150px;
  grid-template-rows: 170px 70px 70px 160px ;
  gap:1em;
  justify-content:center;
  grid-template-areas:
  "box1 box2 box2 box3"
  "box1 box4 box5 box3"
  "box6 box4 box5 box3"
  "box6 box7 box8 box8";
  margin:50px;
}

.gri1{
  background-color:rgb(250, 236, 220);
  text-align: center;
  border-radius:5px;
}

.but{
  margin-top:5px;
}
.gri1 button{
  color:rgb(106, 106, 194);
  font-weight:bold;
  border:none;
  outline: none;
  background-color:rgb(240, 186, 87) ;
  border-radius: 20px;
  height:30px;
  width:120px;
  
}
.gri1 p{
  padding-top:20px;
  padding-left: 20px;
  font-weight: bolder;
  text-align: left;
}

.gri2{
  background-color:rgb(129, 33, 219);
  text-align: center;
  border-radius: 5px;
}
.gri2 div{
    line-height:1;

}
.gri2 p{
  color:white;
  font-weight: bolder;
  font-size: 25px;
}
.gri3{
  background-color: rgb(224, 209, 243);
  text-align: center;
  border-radius: 5px;
}
.gri3 p{
  font-weight: bolder;
}
.gri3 .pi{
  font-size:10px; 
  padding-top: 10px;
  border-radius:5PX; 
  text-align: center;
  width:90px;
  height:30px;
  margin-left:8px;

}
.gri3 .week{
  color:rgb(170, 169, 169);
  display:flex;
  font-size: 10px;
  margin-left: 10px;
  gap:10px;
}
.gri3 .bars{
  display:flex;
  border-radius: 5px;
  gap:10px;
  margin-left:10px;
  height:40px;
  align-items: flex-end;
  justify-content: center;
}
.gri3 .bar{
  background-color:hsl(258, 70%, 55%);
  width:9px;
  border-radius: 5px;

}

.gri3 .white{
  height:180px;
  width:120px;
  border-radius: 5px;
  background-color:white;
  margin-left:30px;
  justify-content: center;
}
.white .num{
  display:flex;
  color:rgb(131, 128, 128);
  gap:10px;
  margin-left:15px;
  font-size: 10px;
  font-weight: lighter;
  margin-bottom:10px ;
}

.gri4{
border-radius: 20px;
background-color: white;
}
.gri4 p{
  padding-top: 1px;
  margin-left:10px;
  font-weight:bolder;
} 
.gri4 .top{
  width:115px;
  height:45px;
  margin-top:10px;
  margin-left: 5px;
  margin-right: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
  border-radius:20px;
  background-color: white;
}
.gri4 .img{
margin-left: 1px;
padding-top: 10px;
margin-left: 10px;
}
.gri4 .top img{

width:18px;
border-radius: 360px;
background-color:rgb(240, 186, 87) ;
}
.gri5{
  background-color: rgb(240, 186, 87);
  border-radius: 5px;
  
}
.gri5 p{
  font-weight: bolder;
  text-align: center;
  text-align: left;
  margin-left: 15px;
}
.gri5 .cal{
  background-color: white;
  border-radius:5px;
  width:105px;
  height:51px;
  margin-left:8px;
  
}
.gri5 .text3{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  height:20px;
  display:flex;
  background-color:hsl(258, 70%, 55%);
  justify-content: space-between;
}

.gri5 .text3 p{
  padding-top: 5px;
color:white;
font-size: 10px;
font-weight: lighter;
margin:0px;
margin-right: 5px;
}
.gri5 .list ul{
  display:flex;
  justify-content: space-between;
  margin:0;


}
.gri5 .list li{
  list-style: none;
  left:10px;
}
.gri6{ 
  grid-auto-flow:dense;
  background-color: rgb(240, 186, 87) ;
  border-radius:5px;
}
.gri6 p{
  font-weight: bolder;
  text-align: left;
  justify-content: center;
  padding-left:15px;
}
.gri6 .inner{
background-color: white;
height:150px;
border-radius: 7px;
margin-left: 10px;
margin-right:10px;
padding-top:10px;

}
.gri6 .inner2{
  display: flex;
} 

.gri6 .chat{
  background-color: antiquewhite;
  box-sizing: border-box;
  height:50px;
  width:250px;
border-radius: 25px;
}
.inner .inner2 img{
  height:20px;
  padding-left:25px;
  border-radius: 360px;
  padding-top: 0;
  padding-right: 10px;
}
.gri7{
  background-color: white;
  text-align: center;
  border-radius: 5px;

}
.gri7 .image{
  display:flex;
  height:30px;
}

.gri8{
    background-color:hsl(258, 70%, 55%);
    border-radius: 5px;
    display:flex;
    gap:2px;
    box-sizing: border-box;

}
.gri8  .white{
  height:120px;
  width:130px;
  background-color: white;
  border-radius:10px;
  margin:20px;
  box-sizing: border-box;
  line-height: 0.5px;
  position:relative;
}
.gri8 .white .text{
margin-left: 15px;
line-height:0.1;
padding-top:15px;
margin-right:20px;
}

.gri8 .text .bars{
display:flex;
align-items: flex-end;
gap:10px;
height:35px;
align-items: flex-end;
}
.gri8 .bar{
  background-color:hsl(258, 70%, 55%);
  width:9px;
  border-radius:10px;

}
.gri8 .bottom{
  height:42px;
  width:150px;
  position:absolute;
  top:90px;
  left:25px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 2px rgba(0,0,0,1);
}
.gri8 .bot{
  display: flex;
  gap:2px;
}
.gri8 .bot img{
  margin-left:10px;
  margin-top: 5px;
  margin-bottom:20px;
  background-color: rgb(240, 186, 87) ;
  border-radius: 30px;
}
.gri8 .bot .text2{
  margin-top:10px;
}
.gri8 .p{
  color:white;
  padding-top:50px ;
}
